<web-app>
<servlet>
    <servlet-name>Part4</servlet-name>
    <servlet-class>Part4</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Part4</servlet-name>
    <url-pattern>/part4</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>base.html</welcome-file>
</welcome-file-list>
</web-app>