nav {background-color: rgb(46, 146, 185); 
    letter-spacing: 0.1em;
    font-weight: bold;
    text-align: right; 
    padding-right: 2em;
    position: relative;
    border-radius: 25px;
} 
header { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(3, 3, 56); 
    background-color: #869dc7; 
    padding: 26px;
    background-repeat: no-repeat;
    margin-top: 0px;
    top: 20%;
    left: 40%;
    padding-bottom: 1em;
    height: 70px;
    border-radius: 25px;
    text-align: center;
} 
h1{
    size: 20px;
    color: blue;
}
main { 
       color: #000000;
       padding: 10px 20px;
       overflow: auto; 
       min-height: 400px;
       border-radius: 25px;
       background-color: aliceblue
}
footer {font-size:70%;
    text-align: center;
    padding: 10px;
    clear: both;
    background-color: #869dc7;
    border-radius: 25px;
}
