<web-app>
<servlet>
    <servlet-name>Part6</servlet-name>
    <servlet-class>Part6</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>Part6</servlet-name>
    <url-pattern>/part6</url-pattern>
</servlet-mapping>

<welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>base.html</welcome-file>
</welcome-file-list>
</web-app>